# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coveragerc
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
/.python-version

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Data files
*.csv
